@model ScientificMagazine.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagazineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagazineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticlePDF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlePDF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annotation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annotation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeQuoting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeQuoting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeDowload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeDowload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeViews)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
